<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/application/views/libraries/easyUi/themes/gray/easyui.css">
		<link rel="stylesheet" type="text/css" href="/application/views/libraries/easyUi/themes/icon.css">
		<script type="text/javascript" src="/application/views/libraries/jQuery/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="/application/views/libraries/easyUi/jquery.easyui.min.js"></script>
		<script type="text/javascript" src="/application/views/libraries/utils/utils.js"></script>
		<script type="text/javascript" src="/application/views/libraries/component/component.js"></script>
		<script type="text/javascript" src="/application/views/module/Language/language.js"></script>
		<script type="text/javascript" src="/application/views/module/Role/role.js"></script>
                <script type="text/javascript" src="/application/views/libraries/easyUi/extension/datagrid-detailview.js"></script>
	</head>
	
	<body style="width:100%; height:100%; margin:0;" onload="Role.Manage.init()">
		<div id="dataGridPanel" style="width:1px; position:relative;left:20px;top:20px; ">
			<div id="toolbar" style="padding:5px;height:auto">
				<div style="padding:5px;height:auto">
					<label id="operatorIdComboboxLabel"></label>
					<input id="operatorIdComboboxInput" autocomplete="off" />
					&nbsp;&nbsp;
					<label id="areaNumCombogridLabel"></label>
					<input id="areaNumCombogridInput" autocomplete="off" />
					&nbsp;&nbsp;
                                        <label id="onlineComboboxLabel"></label>
					<input id="onlineComboboxInput" autocomplete="off" />
					&nbsp;&nbsp;
                                        <label id="vipComboboxLabel"></label>
					<input id="vipComboboxInput" autocomplete="off" />
					&nbsp;&nbsp;
                                        <label id="playerlevelComboboxLabel"></label>
					<input id="playerlevelComboboxInput" autocomplete="off" />
                                        &nbsp;&nbsp;
                                        <label id="passportValidateboxLabel"></label>
					<input id="passportValidateboxInput" autocomplete="off" />
                                        &nbsp;&nbsp;
					<label id="accountValidateboxLabel"></label>
					<input id="accountValidateboxInput" autocomplete="off" />
					&nbsp;&nbsp;
					<label id="roleNameValidateboxLabel"></label>
					<input id="roleNameValidateboxInput" autocomplete="off" />
					&nbsp;&nbsp;
					<a id="searchButton" href="javascript:void(0)"></a>
                                        &nbsp;&nbsp;
					<a id="exportButton" href="javascript:void(0)"></a>
				</div>
<!--		按钮		-->
				<div style="padding:5px;height:auto">
					<a id="kickButton" href="javascript:void(0)"></a>
					&nbsp;&nbsp;
					<a id="bannedRoleButton" href="javascript:void(0)"></a>
					&nbsp;&nbsp;
					<a id="unbannedRoleButton" href="javascript:void(0)"></a>
					&nbsp;&nbsp;
					<a id="bannedChatButton" href="javascript:void(0)"></a>
					&nbsp;&nbsp;
					<a id="unbannedChatButton" href="javascript:void(0)"></a>
					
				</div>
			</div>
<!--	数据表	-->
			<table id="dataGrid" style="width: 600px;">
			</table>
		</div>
	<!--弹出窗口-->	
        <!--封号-->
		<div id="bannedRoleWindow" style="padding:10px 10px 10px 10px">
			<table>
				<tr>
					<td width="80">
						<label id="timeCycleTypeComboboxLabel"></label>
					</td>
					<td width="120px">
						<input id="timeCycleTypeComboboxInput" autocomplete="off" />
					</td>
				</tr>
				<tr>
					<td>
						<label id="timeCycleValidateboxLabel"></label>
					</td>
					<td>
						<input id="timeCycleValidateboxInput" autocomplete="off" />
					</td>
				</tr>
				<tr>
					<td>
						<label id="reasonValidateboxLabel"></label>
					</td>
					<td>
						<input id="reasonValidateboxInput" autocomplete="off" />
					</td>
				</tr>
				<tr height="10px">
				</tr>
				<tr>
					<td colspan="2" align="center">
						<a id="submitButton" href="javascript:void(0)"></a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a id="resetButton" href="javascript:void(0)"></a>
					</td>
				</tr>
			</table>
		</div>
	<!--解除封号-->	
		<div id="unbannedRoleWindow" style="padding:10px 10px 10px 10px">
			<table>
				<tr>
					<td width="80">
						<label id="reasonValidateboxLabel"></label>
					</td>
					<td width="120px">
						<input id="reasonValidateboxInput" autocomplete="off" />
					</td>
				</tr>
				<tr height="10px">
				</tr>
				<tr>
					<td colspan="2" align="center">
						<a id="submitButton" href="javascript:void(0)"></a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a id="resetButton" href="javascript:void(0)"></a>
					</td>
				</tr>
			</table>
		</div>
	<!--禁言-->	
		<div id="bannedChatWindow" style="padding:10px 10px 10px 10px">
			<table>
				<tr>
					<td width="80">
						<label id="timeCycleTypeComboboxLabel"></label>
					</td>
					<td width="120px">
						<input id="timeCycleTypeComboboxInput" autocomplete="off" />
					</td>
				</tr>
				<tr>
					<td>
						<label id="timeCycleValidateboxLabel"></label>
					</td>
					<td>
						<input id="timeCycleValidateboxInput" autocomplete="off" />
					</td>
				</tr>
				<tr>
					<td>
						<label id="reasonValidateboxLabel"></label>
					</td>
					<td>
						<input id="reasonValidateboxInput" autocomplete="off" />
					</td>
				</tr>
				<tr height="10px">
				</tr>
				<tr>
					<td colspan="2" align="center">
						<a id="submitButton" href="javascript:void(0)"></a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a id="resetButton" href="javascript:void(0)"></a>
					</td>
				</tr>
			</table>
		</div>
	<!--解除禁言-->	
		<div id="unbannedChatWindow" style="padding:10px 10px 10px 10px">
			<table>
				<tr>
					<td width="80">
						<label id="reasonValidateboxLabel"></label>
					</td>
					<td width="120px">
						<input id="reasonValidateboxInput" autocomplete="off" />
					</td>
				</tr>
				<tr height="10px">
				</tr>
				<tr>
					<td colspan="2" align="center">
						<a id="submitButton" href="javascript:void(0)"></a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a id="resetButton" href="javascript:void(0)"></a>
					</td>
				</tr>
			</table>
		</div>
        </body>
</html>